html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  touch-action: none;
  overscroll-behavior: none;
}

#gameContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-top: 52.75px;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: none;
  transform-origin: center center;
}
#app.rotate {
  transform: rotate(90deg);
  transform-origin: center center;
}

#rotate-warning {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #888;
  color: #000;
  font-size: 1.5rem;
  font-weight: bolder;
  align-items: center;
  text-align: center;
  justify-content: center;
  cursor: pointer;
}

#rotate-warning #sign {
  width: clamp(50px, 25%, 200px);
  object-fit: contain;
}
#rotate-warning #text {
  margin-top: 1rem;
  width: clamp(250px, 80%, 600px);
  object-fit: contain;
}
